<!-- nav container -->
<nav class="fixed-top navbar-light bg-light m-0 p-0">
  <!-- header container -->
  <div class="m-3">
    <!-- row header -->
    <div class="row justify-content-center">
      <!-- menu container -->
      <div class="d-none d-md-block col-1 align-self-center container-menu">
        <span class="oi oi-menu"></span>
      </div>
      <!-- logo container -->
      <div class="offset-4 col-8 col-md-7 offset-md-4 container-logo">
        <img id="logo-falabella" src="/assets/app/components/core/header/logo.png" alt="logo falabella">
      </div>
    </div>
  </div>
</nav>
