section {
  &#section-body-rent {
    background-image: url(/assets/app/pages/rent/background.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
  }

  & div.container-form {
    opacity: 1;
    margin-top: 20vh;

    & p, label {
      font-size: 0.9rem;
      margin-bottom: 0.3rem;
    }

    & form {
      & .title {
        font-weight: 300;
        font-size: 1.6em;
        margin-bottom: 36px;

        & .color {
          color: green;
        }
      }

      & .description {
        margin-bottom: 2rem;
      }

      & .container-input {
        margin-bottom: 2rem;
      }
    }
  }
}

/* For devices 300px and 700px: */
@media only screen and (min-device-width: 300px) and (max-device-width: 700px) {
  section {
    &#section-body-rent {
      height: 35vh;
    }

    & div.container-form {
      & form {
        margin: 3vh 1vh 3vh 1vh;
      }
    }
  }
}

/* For devices 701px and larger: */
@media only screen and (min-device-width: 701px) {
  section {
    &#section-body-rent {
      height: 80vh;
    }

    & div.container-form {
      & form {
        margin: 3vh 6vh 3vh 6vh;
      }
    }
  }
}
