<div class="container p-3 my-3 bg-white text-dark">
  <div class="row align-items-center">

    <!-- section CMR -->
    <div class="col-4">
      <div class="row align-items-center">
        <div class="col-5">
          <img src="/assets/app/auth/login/components/login-data-information/cmr.png" alt="cmr">
        </div>
        <div class="col-7 p-0">
          <p>Acumula</p>
          <p><strong>CMR Puntos</strong></p>
        </div>
      </div>
    </div>

    <!-- section OPU -->
    <div class="col-4">
      <div class="row align-items-center">
        <div class="col-5">
          <img src="/assets/app/auth/login/components/login-data-information/opu.png" alt="opu">
        </div>
        <div class="col-7 p-0">
          <p>Descuentos</p>
          <p>exclusivos</p>
        </div>
      </div>
    </div>

    <!-- section VISA -->
    <div class="col-4">
      <div class="row align-items-center">
        <div class="col-5">
          <img src="/assets/app/auth/login/components/login-data-information/visa.png" alt="visa">
        </div>
        <div class="col-7 p-0">
          <p>Compra en</p>
          <p>todo el mundo</p>
        </div>
      </div>
    </div>
  </div>
</div>
